// Specific CSS for your home-pae
$nav-height: 76px;

.banner-container {
  height: calc(100vh - #{$nav-height});
  // border: 1px solid blue;
  background: linear-gradient(rgba(15, 15, 15, 0.6), rgba(15, 15, 15, 0.8)), url('https://i.imgur.com/Uv00lIc.jpeg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 60px;

  .text {
    // border: 1px solid blue;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;

    h1 {
      color: #CEE5D0;
      font-weight: bolder;
      font-size: 60px;
      margin-bottom: 20px;
    }
    h2 {
      color: #E0C097;
      font-size: 30px;
      margin-bottom: 24px;
    }
    p {
      color: rgb(223, 223, 223);
      font-size: 24px;
      margin-bottom: 40px;
    }

    .button {
      letter-spacing: .6px;
      padding-left: 30px;
      padding-right: 30px;
      font-weight: 900;
    }
  }
}
