<div class="container">
  <h1>My bookings</h1>
  <div class="row">
    <div class="col ">
      <% @bookings.each do |booking| %>
        <h6><%= booking.start_time %></h6>
      <% end %>
    </div>
  </div>
</div>
