<div class='banner-container'>
  <div class="text">
    <h1>Instructo</h1>
    <h2>Connecting instructors and clients</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, distinctio error! Ratione quaerat eaque repellat. Sunt aut atque doloribus vitae quae nihil officia. Labore nostrum quo perspiciatis ducimus ratione eum.</p>
    <%= link_to 'Find an instructor', instructors_path, class: 'button' %>
  </div>
</div>
