

.booking-card {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  align-items: center;

  .left-side {
    display: flex;
    // width: 20px;
  }
}

.image {
  border: 1px solid black;
  border-radius: 50%;
  width: 54;
  margin-right: 20px;
}
