.page-top {
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.booking-list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  align-items: center;
  margin: 10px 0;

  .left-side {
    display: flex;
    // width: 20px;
  }
}

.text {
  padding-top: 10px;
}

.booking-list {
  margin-right: 10px;
}

.buttons {
  display: flex;
  align-items: center;
}

.accept {
  margin: 0 20px;
}

.button-sm {
  margin: 0 5px;
}
